<span class="header">
  <span class="title"><b><%= link_to note.title, note %></b></span>
  <% if note.pen_name %>
    <span class="author"><i>by <%= note.pen_name.name %></i></span>
  <% end %>

  <% if note.is_open? %>
    <span class="badge badge-primary">open</span>
  <% else %>
    <span class="badge badge-dark">closed</span>
  <% end %>

  <% if note.user == current_user %>
    <span class="badge badge-info">mine</span>
  <% end %>

  <br>
  
  <span class="tags small">
    <% note.tags.each do |tag| %>
      <%= link_to tag.name, tag %>
    <% end %>
  </span>
</span>

<span class="body">
  <span class="description"><%= note.description %></span>
</span>