<li id="user_note-<%= user_note.id %>">

    <%= icon_for(user_note, { name: user_note.title, size: 64 }) %>

    <%= render 'user_notes/info_header_body', note: user_note %>

    <%= render 'user_notes/info_footer',
                note: user_note, index_command: true, home_command: false %>

</li>
