<span class="alert alert-info help">

  <b>markdown examples</b><br>

  - <%= link_to "Markdown Offical Web Site (https://daringfireball.net/projects/markdown/)",
                "https://daringfireball.net/projects/markdown/" %><br>

</span>