<span class="alert alert-info help">

  <b>group positions</b><br>
  - a group has only one leader.<br>
  - a group has some subleaders.<br>
  - a group has some commons. <br>
  - a group has some visitors. <br>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>users</th>
        <th>leader</th>
        <th>subleader</th>
        <th>common</th>
        <th>visitor</th>
        <th>others</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>create group</th>
        <td>✔ *1</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <th>edit group</th>
        <td>-</td>
        <td>✔</td>
        <td>✔</td>
        <td>×</td>
        <td>×</td>
        <td>×</td>
      </tr>
      <tr>
        <th>delete group</th>
        <td>-</td>
        <td>✔ *2</td>
        <td>×</td>
        <td>×</td>
        <td>×</td>
        <td>×</td>
      </tr>
      <tr>
        <th>open/close group</th>
        <td>-</td>
        <td>✔</td>
        <td>✔</td>
        <td>×</td>
        <td>×</td>
        <td>×</td>
      </tr>
      <tr>
        <th>show group works</th>
        <td>-</td>
        <td>✔</td>
        <td>✔</td>
        <td>✔</td>
        <td>✔</td>
        <td>✔</td>
      </tr>
        <th>show group members</th>
        <td>-</td>
        <td>✔</td>
        <td>✔</td>
        <td>✔</td>
        <td>✔</td>
        <td>×</td>
      </tr>
      <tr>
        <th>show group home</th>
        <td>-</td>
        <td>✔</td>
        <td>✔</td>
        <td>✔</td>
        <td>✔</td>
        <td>×</td>
      </tr>

      <tr>
        <th>create group note</th>
        <td>-</td>
        <td>✔</td>
        <td>✔</td>
        <td>×</td>
        <td>×</td>
        <td>×</td>
      </tr>
      <tr>
        <th>edit group note</th>
        <td>-</td>
        <td>✔</td>
        <td>✔</td>
        <td>✔</td>
        <td>×</td>
        <td>×</td>
      </tr>
      <tr>
        <th>delete group note</th>
        <td>-</td>
        <td>✔</td>
        <td>✔</td>
        <td>×</td>
        <td>×</td>
        <td>×</td>
      </tr>
      <tr>
        <th>open/close group note</th>
        <td>-</td>
        <td>✔</td>
        <td>✔</td>
        <td>×</td>
        <td>×</td>
        <td>×</td>
      </tr>
      <tr>
        <th>show group note</th>
        <td>-</td>
        <td>✔</td>
        <td>✔</td>
        <td>✔</td>
        <td>✔</td>
        <td>✔ *3</td>
      </tr>

      <tr>
        <th>create group memo</th>
        <td>-</td>
        <td>✔</td>
        <td>✔</td>
        <td>✔</td>
        <td>×</td>
        <td>×</td>
      </tr>
      <tr>
        <th>edit group memo</th>
        <td>-</td>
        <td>✔</td>
        <td>✔</td>
        <td>✔</td>
        <td>×</td>
        <td>×</td>
      </tr>
      <tr>
        <th>delete group memo</th>
        <td>-</td>
        <td>✔</td>
        <td>✔</td>
        <td>✔</td>
        <td>×</td>
        <td>×</td>
      </tr>

      <tr>
        <th>join group</th>
        <td>-</td>
        <td>×</td>
        <td>×</td>
        <td>×</td>
        <td>×</td>
        <td>✔ *3 *4</td>
      </tr>
      <tr>
        <th>unjoin group</th>
        <td>-</td>
        <td>×</td>
        <td>×</td>
        <td>✔</td>
        <td>✔</td>
        <td>×</td>
      </tr>
      <tr>
        <th>change master</th>
        <td>-</td>
        <td>✔</td>
        <td>×</td>
        <td>×</td>
        <td>×</td>
        <td>×</td>
      </tr>
      <tr>
        <th>change position</th>
        <td>-</td>
        <td>✔</td>
        <td>✔</td>
        <td>×</td>
        <td>×</td>
        <td>×</td>
      </tr>

      <tr>
        <th>publish book</th>
        <td>-</td>
        <td>✔</td>
        <td>✔</td>
        <td>×</td>
        <td>×</td>
        <td>×</td>
      </tr>

    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <td>*1 the user is the first master</td> <!-- user -->
        <td>*2 when leader is only member</td> <!-- leader -->
        <td></td> <!-- subleader -->
        <td></td> <!-- common -->
        <td></td> <!-- visitor -->
        <td>*3 when group is open, *4 as visitor</td> <!-- others -->
      </tr>
    </tfoot>
  </table>

</span>