<span class="alert alert-info help">
  <b>password requirements</b><br>
  - minimum 16 and maximum 64 characters<br>
  - at least two uppercase letters (A-Z)<br>
  - at least two lowercase letters (a-z)<br>
  - at least two numbers (0-9)<br>
  - at least two special characters (+-*/%^&|~!<=>"'`;:[]{}()?@#$,._\)
</span>