<li id="group_note-<%= group_note.id %>" class="media">

  <%= icon_for(group_note, { name: group_note.title, size: 64 }) %>

  <div class="media-body">
    <%= render 'group_notes/info_header_body', note: group_note %>
    <%= render 'group_notes/info_footer', note: group_note, kind: "_group_note" %>
  </div>

</li>
