<li id="group_note-<%= group_note.id %>">

  <%= icon_for(group_note, { name: group_note.title, size: 64 }) %>

  <%= render 'group_notes/info_header_body', note: group_note %>

  <%= render 'group_notes/info_footer',
              note: group_note, index_command: true, home_command: false %>

</li>
