<div class="info-footer">

  <span class="timestamp text-muted small">
    <%= timestamp(note) %>
  </span>
  
  <span class="command">
    <% if kind == "show" %>
  
      <% if note.can_set_point?(current_user) %>
        <%= render 'notes/point_command', note: note %>
      <% end %>
  
      <% if note.can_update?(current_user) %>
        <%= link_to "[edit]", edit_group_group_note_path(note.group, note) %>
      <% end %>
  
      <% if note.can_destroy?(current_user) %>
        <%= link_to "[delete]", group_group_note_path(note.group, note), method: :delete,
                                data: { confirm: "You sure?" } %>
      <% end %>
  
    <% end %>
  </span>

</div>