<% provide(:title, "Notes") %>
<div class="row">

  <aside class="col-md-4">

    <%= render 'shared/paging_list',
                title: "random pickups", all_list: @sample_notes, page_list: @sample_notes,
                command: "", paging: false %>

  </aside>

  <div class="col-md-8">

    <%= render 'shared/paging_list',
                title: "notes", all_list: @all_notes, page_list: @page_notes,
                command: "", paging: true %>

  </div>

</div>