<li id="book_memo-<%= book_memo.id %>">

  <span class="body">
    
    <span class="header">
      <span class="title"><b><%= book_memo.title %></b></span>
    </span>

    <span class="body">
      <span class="content"><%= sanitize markdown(book_memo.content) %></span>
    </span>

  </span>

</li>