<span class="timestamp text-muted small">
  <%= timestamp(pen_name) %>
</span>

<span class="command">
  <% if kind == "show" %>
    <% if pen_name.can_update?(current_user) %>
      <%= link_to "[edit]", edit_pen_name_path(pen_name) %>
    <% end %>
    <% if pen_name.can_destroy?(current_user) %>
      <%= link_to "[delete]", pen_name,
                  method: :delete, data: { confirm: "You sure?" } %> 
    <% end %>
  <% end %>
</span>
