<span class="header">
  <span class="name">
    <b><%= link_to pen_name.name, pen_name %></b>
  </span>

  <% if pen_name.is_open? %>
    <span class="badge badge-primary">open</span>
  <% else %>
    <span class="badge badge-dark">closed</span>
  <% end %>

  <% if pen_name.user == current_user %>
    <span class="badge badge-info">me</span>
  <% end %>
</span>

<span class="body">
  <span class="outline"><%= pen_name.outline %></span>
</span>