<% provide(:title, 'New PenName') %>
<% provide(:button_text, 'Create PenName') %>

<h1 class="center">New PenName</h1>

<div class="row justify-content-center">
  <div class="col-md-6">
    
    <%= render 'form' %>

  </div>

</div>
