<% provide(:title, 'Create New PenName') %>
<% provide(:button_text, 'Create New PenName') %>
<h1>Create New PenName</h1>

<div class="row justify-content-center">
  <div class="col-md-6">
    
    <%= render 'form' %>

  </div>

</div>
