<div class="info-header">

  <span class="name">
    <% if group.can_show?(current_user) %>
      <b><%= link_to group.name, group %></b>
    <% else %>
      <b><%= group.name %></b>
    <% end %>
  </span>
  
  <% if group.is_open? %>
    <span class="badge badge-primary">open</span>
  <% else %>
    <span class="badge badge-dark">closed</span>
  <% end %>
  
  <% if pen_name %>
    <span class="badge badge-info">us</span>
  <% end %>

</div>

<div class="info-body">
  <div class="outline">
    <%= group.outline %>
  </div>
</div>