<span class="header">
  <span class="name">
    <b><%= link_to group.name, group %></b>
    <% if pen_name %>
      <i>(<%= "#{pen_name.name} as #{group.get_position_name(pen_name)}" %>)</i>
    <% end %>
  </span>

  <% if group.is_open? %>
    <span class="badge badge-primary">open</span>
  <% else %>
    <span class="badge badge-dark">closed</span>
  <% end %>
</span>

<span class="body">
  <span class="description"><%= group.description %></span>
</span>