<span class="header">
  <span class="name">
    <b><%= link_to group.name, group %></b>
  </span>

  <% if group.is_open? %>
    <span class="badge badge-primary">open</span>
  <% else %>
    <span class="badge badge-dark">closed</span>
  <% end %>

  <% if pen_name %>
    <span class="badge badge-info">
      <%= "#{pen_name.name} as #{group.get_position_name(pen_name).downcase}" %>
    </span>
  <% end %>
</span>

<span class="body">
  <span class="description"><%= group.description %></span>
</span>