<% provide(:title, "Group Books") %>
<div class="row">

  <aside class="col-md-4">

    <%= render "group_info" %>

  </aside>

  <div class="col-md-8">

    <span class="header">
      <span class="count">
        books (<%= @group_books.count %>)
      </span>
      <span class="new_command">
      </span>
    </span>

    <% if @group_books.any? %>
      <ol class="notes">
        <%= render @books %>
      </ol>
      <%= will_paginate @books %>
    <% end %>
  </div>

</div>