<% provide(:title, 'Create New Group') %>
<% provide(:button_text, 'Create New Group') %>
<h1>Create New Group</h1>

<div class="row justify-content-center">
  <div class="col-md-6">
    
    <%= render 'form' %>

  </div>

</div>
