<% provide(:title, 'New Group') %>
<% provide(:button_text, 'Create Group') %>

<h1 class="center">New Group</h1>

<div class="row justify-content-center">
  <div class="col-md-6">
    
    <%= render 'form' %>

  </div>

</div>
