<section class="user_info">

  <span class="name">(user) <b><%= @user.name %></b></span>

  <span class="timestamp">
    created <%= time_ago_in_words(@user.created_at) %> ago.<br>
    updated <%= time_ago_in_words(@user.updated_at) %> ago.
  </span>

</section>