<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'form' %>

    <span class="alert alert-info password_requirement">
      <b>password requirements</b><br>
      - minimum 16 and maximum 64 characters<br>
      - at least one uppercase letter (A-Z)<br>
      - at least one lowercase letter (a-z)<br>
      - at least one number (0-9)<br>
      - at least one special character (+-*/%^&|~!<=>"'`;:[]{}()?@#$,._\)
    </span>

  </div>

</div>
