<li id="page-<%= page.id %>">

  <span class="body">
    <span class="title"><b><%= page.title %></b></span>
    <span class="content"><%= page.content %></span>
    <%= image_tag page.picture.url if page.picture? %>
  </span>

</li>