<% provide(:title, "Evaluations") %>
<div class="row">

  <aside class="col-md-4">

    <%= render "info" %>
    <%= Readership.count %>

  </aside>

  <div class="col-md-8">

    <h3>Evaluations</h3>

    <table width=800>
      <tr>
      <% @evaluations.each_with_index do |evaluation, index| %>
        <td><%= link_to evaluation[0],
                        evaluate_book_path(@book, params: { evaluation: evaluation[1] }),
                        method: :post %></td>
        <% if (index+1) % 4 == 0 %></tr><tr><% end %>
      <% end %>
      </tr>
    </table>

  </div>

</div>