<% provide(:title, @book.title) %>
<div class="row">

  <aside class="col-md-4">

    <%= render "info" %>
    
  </aside>

  <div class="col-md-8">

    <span class="main_header">
      <span class="count">
        pages (<%= @book.pages.count %>)
      </span>
      <span class="command">
      </span>
    </span>

    <% if @book.pages.any? %>
      <ol class="memo_list">
        <%= render @pages %>
      </ol>
      <%= will_paginate @pages %>
    <% end %>
  </div>

</div>