<% provide(:title, @tag.name) %>
<div class="row">

  <aside class="col-md-4">
  </aside>

  <div class="col-md-8">

    <%= render 'shared/paging_list',
                title: "tagged notes", all_list: @all_notes, page_list: @page_notes,
                command: "", paging: true %>

  </div>

</div>