<div class="info-footer">

  <span class="timestamp text-muted small">
    <%= timestamp(room) %>
  </span>
  
  <span class="command">
    <% if kind == "show" %>
      <% if room.can_update?(current_user) %>
        <%= link_to "[edit]", edit_group_group_room_path(room.group, room) %>
      <% end %>
      <% if room.can_destroy?(current_user) %>
        <%= link_to "[delete]", group_group_room_path(room), method: :delete,
                                data: { confirm: "You sure?" } %>
      <% end %>
    <% end %>
  </span>

</div>