<% provide(:title, 'Edit GroupPicture') %>
<% provide(:button_text, 'Update GroupPicture') %>

<h1 class="center">Edit GroupPicture</h1>

<div class="row justify-content-center">
  <div class="col-md-8">
    
    <%= render 'form' %>

  </div>

</div>
