<% provide(:title, 'Edit UserPicture') %>
<% provide(:button_text, 'Update UserPicture') %>

<h1 class="center">Edit UserPicture</h1>

<div class="row justify-content-center">
  <div class="col-md-6">
    
    <%= render 'form' %>

  </div>

</div>
