<li id="room-<%= room.id %>">

    <%= icon_for(room, { name: room.title, size: 64 }) %>

    <%= render 'rooms/info_header_body', room: room %>

    <%= render 'rooms/info_footer', room: room, kind: "_room" %>

</li>
