@import "bootstrap";

/* mixins, variables, etc. */

$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777

$state-danger-text: #a94442 !default;

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* header */

header {

  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 3px;
    font-weight: bold;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  margin-bottom: 20px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.row {
  .col-md-4 {
    padding-left: 0px;
    padding-right: 10px;
  }
  .col-md-8 {
    padding-left: 10px;
    padding-right: 0px;
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    .description {
      display: block;
    }
    .timestamp {
      display: block;
      color: $gray-light;
    }
  }
}

/* forms */

.form_control {
  text-align: center
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.message_form {
  img {
    float: left;
    display: line;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 5px;
  }
  textarea, input {
    display: block;
    margin-left: 74px;
    width: 90%;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  input {
    @extend .is-invalid;
  }
  .form-control {
    color: $state-danger-text;
  }
}

.help {
  display: block;
  margin: 30px 0 0 0;
  
  table {
    border-collapse: collapse;
    border: solid medium;
  }
  th {
    border: solid thin;
    text-align: center;
    width: 200px;
    padding: 1;
  }
  tr, td {
    border: solid thin;
    text-align: center;
    padding: 1;
  }
}

/* notes, memos, pen_names, groups */

.main_header {
  display: block;
  .count {
    color: $gray-light;
  }
}

.side_header {
  display: block;
  .count {
    color: $gray-light;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.note_list { // notes, books, pen_names, groups
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0px;
    border-top: 1px solid #e8e8e8;
  }
  img {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .header {
    margin-top: 5em;
    padding-top: 0;
  }
  .body {
    display: block;
    margin-left: 74px;
  }
  .footer {
    display: block;
    margin-left: 74px;
  }
}
.memo_list { // memos, pages
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0px;
    border-top: 1px solid #e8e8e8;
  }
  .header {
    margin-top: 5em;
    padding-top: 0;
  }
  .body {
    display: block;
    margin-left: 0px;
    img {
      display: block;
    }
  }
  .footer {
    display: block;
    margin-left: 0px;
  }
}

.side_list {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0px;
    border-top: 1px solid #e8e8e8;
  }
  img {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .header {
    margin-top: 5em;
    padding-top: 0;
  }
  .body {
    display: block;
    margin-left: 74px;
  }
  .footer {
    display: block;
    margin-left: 74px;
  }
}

.picture_list {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0px;
    border-top: 1px solid #e8e8e8;
  }
  img {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .header {
    margin-top: 5em;
    padding-top: 0;
  }
  .body {
    display: block;
    margin-left: 60px;
  }
  .footer {
    display: block;
    margin-left: 60px;
    margin-bottom: 0px;
  }
}

.command {
  float: right;

  ul {
    list-style: none;
    padding: 0;
    li {
      padding: 0px 0px;
      border-top: 0px;
      text-align: center;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* end of file */