<% provide(:title, @group.name + ' Members') %>

<% pen_name = @group.get_user_member(current_user) %>

<div class="row">

  <aside class="col-md-4">

    <section class="group_info">

      (group members)<br>

      <%= render 'groups/info_header_body', group: @group, pen_name: pen_name %>

      <%= icon_for(@group, { name: @group.name, size: 256 }) %><br>

      <%= render 'groups/info_footer',
                  group: @group, pen_name: pen_name, kind: "members" %>
    </section>

  </aside>

  <div class="col-md-8">

    <%= render 'shared/paging_members',
                title: "members", all_list: @all_members, page_list: @page_members,
                command: "", paging: true %>

  </div>

</div>